streamlit
langchain
langchain-community
langchain-text-splitters
langsmith
faiss-cpu
sentence-transformers
torch
transformers
google-generativeai
python-dotenv
beautifulsoup4
requests
markdown-it-py
scrapy
PyDrive
pandas
numpy
scikit-learn
scipy
